################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Graphs/bin
/Graphs/obj
/GraphsUnitTests/bin
/GraphsUnitTests/obj
/TestResults
